<div class="maxwidth" ng-init="init()">
    <div id="passowrd-change">
        <div id="tip">记住密码，谨慎修改</div>
        <div class="password-text">
            <div><label>个人编号：</label><input ng-model="currentUser.number" type="text" readonly></div>
            <div><label>旧密码：</label><input ng-model="oldPassword" type="text"></div>
            <div><label>新密码：</label><input ng-model="password" type="password"></div>
            <div><label>再次输入：</label><input ng-model="comfirmPassword" type="password"></div>
            <div><button ng-click="changePassword()">修改</button><a href="/Hospital"><button>放弃</button></a></div>
        </div>
    </div>
</div>
