<div id="header" ng-controller="HeaderCtrl">
  <div id="header-top">
    <div class="maxwidth">
      <a href="index.html" class="left" id="logo"> 
        <img src="http://imgcache.qq.com/ac/www_tencent/hr/img/logo.png" />
      </a>
      <div id="header-info" class="right">
        <span ng-show="currentUser.name">
            您好！ {{currentUser.name}}
            <a id="header-register" ng-click="logout()">退出</a>
        </span>
        <span ng-show="!currentUser.name">
            <a href="#/login" id="header-login">登录</a> 
            <a href="#/register" id="header-register">注册</a>
        </span>
      </div>
    </div>
  </div>
  <div id="menus">
    <div class="maxwidth">
      <ul id="menu" class="left">
        <li><a href="index.html">住院登记</a></li>
        <li><a href="">医嘱护理</a></li>
        <li><a href="">药房取药</a></li>
        <li><a href="#/hospitalCharge">住院收费</a></li>
        <li><a href="#/advancePay">交预付款</a></li>
        <li><a href="">患者出院</a></li>
        <li><a href="">收入员一日结算</a></li>
        <li><a href="">患者清单</a></li>
      </ul>
    </div>

  </div>
</div>