<div class="maxwidth" ng-init="init()">
    <div class="left">
	    <div id="cashier">
	        <label>收费员编号：</label><input type="text" ng-model="currentUser.number" readonly>
	        <label>收费员姓名：</label><input type="text" ng-model="currentUser.name" readonly>
	        <label>收费编号：</label><input ng-model="number" type="text" readonly>
	    </div>
	    <div id="patient-cost">
	        <div id="patient">
	            <label>患者编号：</label><input type="text">
	            <button ng-click="searchPatient()">确认</button>
	        </div>
	        <div id="cost">
	            <label>合计：</label><input ng-model="total" type="text" readonly>
                <label>自付：</label><input ng-model="selfPay" type="text" readonly>
                <label>支付：</label><input ng-model="money" ng-change="moneyChange()" type="text" >
                <label>找零：</label><input ng-model="charge" type="text" >
	        </div>
	    </div>
	    
	    <div id="patient-grid">
	        <div id="patient-info">
	            <label>患者基本信息:</label>
	            <div class="gridStyle" ng-grid="gridPatient"></div>
	        </div>
	        <div id="patient-prescription">
	            <label>处方单</label>
	            <div class="gridStyle" ng-grid="gridPrescriptions"></div>
	        </div>
	        <div id="patient-project">
	            <label>收费项目明细</label>
	            <div class="gridStyle" ng-grid="gridProjects"></div>
	        </div>
	    </div>
    </div>
    
    <div class="right right-button">
        <div>
            <ul>
                <li><button ng-click="clearText()">中止结算</button></li>
                <li><button ng-click="saveMoney()">出院结算</button></li>
                <li><button ng-click="leavaHospital()">患者出院</button></li>
                <li><a href="#/queryPatient"><button>患者查询存</button></a></li>
                <li><a href="/Hospital"><button>退出</button></a></li>
            </ul>
        </div>
    </div>
    
</div>