<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.yzu.hospital.dataaccess.model.CashierExt" alias="CashierExt"/>
        <typeAlias type="com.yzu.hospital.dataaccess.model.HospitalInfoExt" alias="HospitalInfoExt"/>
        <typeAlias type="com.yzu.hospital.dataaccess.model.PatientExt" alias="PatientExt"/>
        <typeAlias type="com.yzu.hospital.dataaccess.model.PatientPrescriptionExt" alias="PatientPrescriptionExt"/>
        <typeAlias type="com.yzu.hospital.dataaccess.model.PatientProjectExt" alias="PatientProjectExt"/>
        <typeAlias type="com.yzu.hospital.dataaccess.model.PrescriptionExt" alias="PrescriptionExt"/>
        <typeAlias type="com.yzu.hospital.dataaccess.model.ProjectExt" alias="ProjectExt"/>
        <typeAlias type="com.yzu.hospital.dataaccess.model.ReceiptExt" alias="ReceiptExt"/>
    </typeAliases>
</configuration>